body {
  margin: 0;
  background-color: azure;
}
header {
  background-color: rgb(18, 92, 92);

  margin: 0;
  padding: 10px;
}
header a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 750px) {
  header {
    text-align: center;
  }
}
