button {
  border: none;
}

.task-box {
  border-radius: 10px;
  box-shadow: 2px 5px 8px rgb(16, 62, 50);
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  margin: 20px;
  margin-bottom: 50px;
  min-width: 250px;
}
h2 {
  text-decoration: underline rgba(0, 0, 0, 0.286);
}
h4 {
  color: rgb(47, 44, 44);
}

.task-box-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;
}

p {
  font-size: 13px;
}
